<div>
  <h2>Registro de viaticos</h2>

  <!--Formulario para el registro del viático-->
  <form (ngSubmit)="onSubmit()">

    <!--Sección para la entrada de datos de la fecha de registro-->
    <div class="seccion">
      <label for="fecha_registro">Fecha de Registro:</label>
      <input type="date" id="fecha_registro" name="fecha_registro" placeholder="Ingresa la fecha de registro del viatico" [(ngModel)]="formData.fecha_registro" required>
    </div>

    <!--Sección para la entrada de datos del nombre del agente-->
    <div class="seccion">
      <label for="agente">Agente:</label>
      <input type="text" id="agente" name="agente" placeholder="Ingresa el nombre del agente" [(ngModel)]="formData.agente" required>
    </div>

    <!--Sección para la entrada de datos de la identificación del agente-->
    <div class="seccion">
      <label for="identificacion">Identificacion:</label>
      <input type="text" id="identificacion" name="identificacion" placeholder="Ingresa la identificacion del agente" [(ngModel)]="formData.identificacion" required>
    </div>

    <!--Sección para la entrada de datos del motivo del viaje-->
    <div class="seccion">
      <label for="motivo">Motivo del viaje:</label>
      <input type="text" id="motivo" name="motivo" placeholder="Ingresa el motivo del viaje" [(ngModel)]="formData.motivo" required>
    </div>

    <!--Sección para la entrada de datos del nombre del cliente/proyecto que solicita los viáticos-->
    <div class="seccion">
      <label for="cliente">Cliente/Proyecto:</label>
      <input type="text" id="cliente" name="cliente" placeholder="Ingresa el nombre del cliente o del proyecto" [(ngModel)]="formData.cliente" required>
    </div>

    <!--Sección para la entrada de datos de la fecha de inicio del viaje-->
    <div class="seccion">
      <label for="fechaInicio">Fecha de inicio del viaje:</label>
      <input type="date" id="fechaInicio" name="fechaInicio" placeholder="Ingresa la fecha del inicio del viaje" [(ngModel)]="formData.fechaInicio" required>
    </div>

    <!--Sección para la entrada de datos de la fecha de finalización del viaje-->
    <div class="seccion">
      <label for="fechaFin">Fecha de finalizacion del viaje:</label>
      <input type="date" id="fechaFin" name="fechaFin" placeholder="Ingresa la fecha de finalizacion del viaje" [(ngModel)]="formData.fechaFin" required>
    </div>

    <!--Sección para la entrada de datos del correo aprobador de los viáticos-->
    <div class="seccion">
      <label for="correoAprobador">Correo del aprobante:</label>
      <input type="text" id="correoAprobador" name="correoAprobador" placeholder="Ingresa el correo del aprobante de los viaticos" [(ngModel)]="formData.correoAprobador" required>
    </div>

    <!--Sección para registrar las facturas presentes en un zip, contabiliza el número de archivos-->
    <div class="seccion-factura">
      <label for="file" class="custom-file-label">Facturas (ZIP):</label>
      <input type="file" id="file" accept=".zip" (change)="onFileSelected($event)" required />
    </div>
    
    <!--Mensaje del número de archivos presente en el .zip-->
    <p *ngIf="fileInfo">El&nbsp;zip&nbsp;contiene: <strong>&nbsp;{{ fileInfo.numeroArchivos }}</strong> factura(s)&nbsp;</p>

    <!--Botoón para el registro de los viáticos-->
    <button type="submit">Registrar viatico</button>

  </form>
</div>