html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif, "New Day"; 
}

@font-face {
    font-family: 'New Day';
    src: url('assets/fonts/newday.otf') format('opentype');
}
