html, body { 
  height: 100%;
  width: 80%; 
  background-color: rgb(29, 0, 56)
}

body { 
  margin: 0; 
  width: 80%; 
  font-family: Roboto, "Helvetica Neue", sans-serif, "New Day"; 
}

@font-face {
    font-family: 'New Day';
    src: url('assets/fonts/newday.otf') format('opentype');
}
